.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 167px;
  margin-right: 20px;
}

img.covered {
  content:url('./cards/card-back.png');
}

.judge img {
  width: 50px;
  height: 50px;
}

.card {
  margin-bottom: 10px;
}
button {
  margin-top: 20px;
}
button.hit-button {
  margin-left: 40px;
}
.hand {
  overflow: auto;
  margin : auto;
}

.container {
  margin: auto;
  background-color: green;
  width: 500px;
}

.player-hand-container, .dealer-hand-container {
  padding-bottom: 10px;
  margin-left: 40px;
}

.judge {
  float: right;
  width: 50px;
  height: 30px;
  margin-right: 50px;
  background-color: 
}
